/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile crg,singularity
 */

params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}

process {
    executor = 'crg'
    queue = 'long-sl7'
    clusterOptions = "-P prj007053"

    maxRetries = 2
    cpus = 1
    memory = { ( 24.GB * task.attempt ) }
    time = { ( 12.h * task.attempt ) }

    withName:DIVIDE_CELL {
        queue = 'short-sl7'
        memory = 8.GB
        time = 10.min
    }
    withName:GET_RELATIVE {
        queue = 'short-sl7'
        memory = 8.GB
        time = 10.min
    }
    withName:SIMULATE_DATA {
        queue = 'short-sl7'
        memory = 8.GB
        time = 1.h
    }
}
