/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // input
  traincount = "${baseDir}/data/traincount.rds"
  testcount = "${baseDir}/data/testcount.rds"
  cell_types = ["Stem","Endocrine"]
  methods = ["rho", "pearson"]
  clr = true
  zerohandling = ["one"]   // zcompositions, one, min

  // output
  outdir = "${baseDir}/test"
  tracedir = "${params.outdir}/pipeline_info"
}
